export AWS_SECRET_ACCESS_KEY=123
export AWS_ACCESS_KEY_ID=123
export AWS_DEFAULT_REGION=us-east-1
export AWS_ENDPOINT_URL=http://localhost:4566
export OPENSEARCH_ADDRESS=http://localhost:9200
export OPENSEARCH_USERNAME=admin
export AWS_SQS_QUEUE_URL=http://sqs.eu-west-1.localhost.localstack.cloud:4566/000000000000/localstack-queue
export KAFKA_SERVERS=localhost:9092
