{{ .Header }}
package {{ .PackageName }}

import (
	"github.com/widmogrod/mkunion/x/schema"
)

{{- $name := .Name }}

func init() {
	schema.RegisterTransformations({{ $name }}SchemaTransformations())
	schema.RegisterRules({{ $name }}SchemaRules())
}

func {{ $name }}SchemaTransformations() []schema.TransformFunc {
	return []schema.TransformFunc{
        {{- range $i, $type := .Types }}
		schema.WrapStruct(&{{ $type }}{}, "{{ $type }}"),
        {{- end }}
	}
}

func {{ $name }}SchemaRules() []schema.RuleMatcher {
	return []schema.RuleMatcher{
        {{- range $i, $type := .Types }}
        schema.UnwrapStruct(&{{ $type }}{}, "{{ $type }}"),
        {{- end }}
	}
}
