{{ RenderHeader -}}

{{ $name := .Name -}}
type {{ $name }}DefaultVisitor[A any] struct {
	Default A
	{{- range .Types }}
	On{{ . }} func(x *{{ . }}) A
	{{- end }}
}

{{- range .Types }}
func (t *{{ $name }}DefaultVisitor[A]) Visit{{ . }}(v *{{ . }}) any {
	if t.On{{ . }} != nil {
		return t.On{{ . }}(v)
	}
	return t.Default
}
{{- end }}