.App {
    text-align: left;
    margin: 0 auto;
    width: 100%;
}

aside {
    float: left;
    width: 300px;
    margin: 0 10px 0 0;
}
main {
    float: left;
    width: calc(100% - 310px);
}

span {
    font-family: monospace;
    background-color: aquamarine;
    padding: 2px;
    margin-right: 5px;
}

span.schedguled {
    background-color: #b8975d;
}
span.error {
    background-color: #de7773;
}
span.await {
    background-color: #52d2d2;
}

table {
    border-collapse: collapse;
    margin: 5px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    clear: both;
}

thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-size: 1.2em;
}

th,
td {
    padding: 12px 15px;
    vertical-align: top;
}

table > thead .option-row {
    background-color: #005b48;
    color: #ffffff;
    text-align: left;
    font-size: .9em;
    height: 1px;
    position: relative;
    padding: 0;
    margin: 0;
}

table > thead .option-row .refresh {
    position: absolute;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    right: 10px;
    top: 5px
}

table > tbody > tr {
    border-bottom: 1px solid #dddddd;
}

table > tbody > tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/* tables inside a table should be smaller */
table table {
    font-size: 0.8em;
    min-width: 0;
}
table table th, td {
    padding: 5px 10px;
}

form.action-section {
    margin: 10px 0;
    padding: 10px;
}

form.action-section h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.sort-asc:after,
.sort-desc:after {
    content: ' ';
    position: relative;
    left: 2px;
    border: 8px solid transparent;
}

.sort-asc:after {
    top: 10px;
    border-top-color: silver;
}

.sort-desc:after {
    bottom: 15px;
    border-bottom-color: silver;
}

.sort-none,
.sort-asc,
.sort-desc {
    cursor: pointer;
}