{{ .Header }}
package {{ .PackageName }}

import (
	"errors"
	"fmt"
)
{{ range $i := GenIntSlice 1 .MaxSize }}
func Match{{$i}}[TIn, TOut
	{{- range $k := GenIntSlice 1 $i }}, T{{ $k }}{{- end }} any](
	x TIn,
	{{- range $k := GenIntSlice 1 $i }}
	f{{ $k }} func(x T{{ $k }}) TOut,
	{{- end }}
	df func(x TIn) TOut,
) TOut {
	switch y := any(x).(type) {
	{{- range $k := GenIntSlice 1 $i }}
	case T{{ $k }}:
		return f{{ $k }}(y)
    {{- end }}
	}

	return df(x)
}

func MustMatch{{$i}}[TIn, TOut{{- range $k := GenIntSlice 1 $i }}, T{{ $k }}{{- end }} any](
	x TIn,
    {{- range $k := GenIntSlice 1 $i }}
	f{{ $k }} func(x T{{ $k }}) TOut,
	{{- end }}
) TOut {
	return Match{{$i}}(x {{- range $k := GenIntSlice 1 $i }}, f{{ $k }}{{- end }}, func(x TIn) TOut {
	    {{- range $k := GenIntSlice 1 $i }}
		var t{{ $k }} T{{ $k }}
		{{- end }}
		panic(errors.New(fmt.Sprintf("unexpected match type %T. expected ({{ Join (Repeat "%T" $i) " or " }})", x {{- range $k := GenIntSlice 1 $i }}, t{{ $k }}{{- end }})))
	})
}
{{ end -}}


{{- range $i := GenIntSlice 1 .MaxSize }}
func Match{{$i}}R0[TIn{{- range $k := GenIntSlice 1 $i }}, T{{ $k }}{{- end }} any](
	x TIn,
	{{- range $k := GenIntSlice 1 $i }}
	f{{ $k }} func(x T{{ $k }}),
	{{- end }}
	df func(x TIn),
) {
	switch y := any(x).(type) {
	{{- range $k := GenIntSlice 1 $i }}
	case T{{ $k }}:
		f{{ $k }}(y)
		return
    {{- end }}
	}

	df(x)
}

func MustMatch{{$i}}R0[TIn{{- range $k := GenIntSlice 1 $i }}, T{{ $k }}{{- end }} any](
	x TIn,
    {{- range $k := GenIntSlice 1 $i }}
	f{{ $k }} func(x T{{ $k }}),
	{{- end }}
) {
	Match{{$i}}R0(x {{- range $k := GenIntSlice 1 $i }}, f{{ $k }}{{- end }}, func(x TIn) {
	    {{- range $k := GenIntSlice 1 $i }}
		var t{{ $k }} T{{ $k }}
		{{- end }}
		panic(errors.New(fmt.Sprintf("unexpected match type %T. expected ({{ Join (Repeat "%T" $i) " or " }})", x {{- range $k := GenIntSlice 1 $i }}, t{{ $k }}{{- end }})))
	})
}
{{ end }}

{{- range $i := GenIntSlice 1 .MaxSize }}
func Match{{$i}}R2[TIn, TOut1, TOut2
	{{- range $k := GenIntSlice 1 $i }}, T{{ $k }}{{- end }} any](
	x TIn,
	{{- range $k := GenIntSlice 1 $i }}
	f{{ $k }} func(x T{{ $k }}) (TOut1, TOut2),
	{{- end }}
	df func(x TIn) (TOut1, TOut2),
) (TOut1, TOut2) {
	switch y := any(x).(type) {
	{{- range $k := GenIntSlice 1 $i }}
	case T{{ $k }}:
		return f{{ $k }}(y)
    {{- end }}
	}

	return df(x)
}

func MustMatch{{$i}}R2[TIn, TOut1, TOut2{{- range $k := GenIntSlice 1 $i }}, T{{ $k }}{{- end }} any](
	x TIn,
    {{- range $k := GenIntSlice 1 $i }}
	f{{ $k }} func(x T{{ $k }}) (TOut1, TOut2),
	{{- end }}
) (TOut1, TOut2) {
	return Match{{$i}}R2(x {{- range $k := GenIntSlice 1 $i }}, f{{ $k }}{{- end }}, func(x TIn) (TOut1, TOut2) {
	    {{- range $k := GenIntSlice 1 $i }}
		var t{{ $k }} T{{ $k }}
		{{- end }}
		panic(errors.New(fmt.Sprintf("unexpected match type %T. expected ({{ Join (Repeat "%T" $i) " or " }})", x {{- range $k := GenIntSlice 1 $i }}, t{{ $k }}{{- end }})))
	})
}
{{ end }}