{{- $self := . -}}

{{ RenderHeader -}}
{{ RenderImport "github.com/widmogrod/mkunion/x/schema" -}}

{{- $name := .Union.Name -}}
func init() {
	schema.RegisterUnionTypes({{ $name }}SchemaDef())
}

func {{ $name }}SchemaDef() *schema.UnionVariants[{{ $name }}] {
	return schema.MustDefineUnion[{{ $name }}](
	{{- range $index, $variant := .Union.Variant }}
		new({{ $self.VariantName $variant }}),
	{{- end }}
	)
}
