name: CI
on: [ pull_request ]

jobs:
  test-go:
    name: Test implementation in Golang
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ^1.21
        id: go

      - name: Add $GOPATH/bin to $PATH
        run: |
          echo "${{ env.GOPATH }}/bin" >> $GITHUB_PATH
          echo $GITHUB_PATH
          echo "asd"
          echo $(go env GOPATH)/bin

      - run: cd cmd/mkunion; go get -v -t -d ./...
      - run: cd cmd/mkunion; go build -o mkunion

      - run: | 
          go install github.com/matryer/moq@latest
          which moq

      - run: go get -v -t -d ./...
      - run: go generate ./...

      # initiate docker-compose services
      - run: |
          pip install awscli-local
      - run: dev/bootstrap.sh -nologs

      # run tests
      - run: |
          export RUN_EXPERIMENTAL_TEST="false"
          set -e
          retries=3
          until [ $retries -le 0 ]; do
            if go test -v ./...; then
              break
            fi
            echo "Retrying Go tests ($retries retries left)..."
            retries=$((retries - 1))
          done
          if [ $retries -eq 0 ]; then
            echo "Go tests failed after all retries."
            exit 1
          fi

      - run: |
          go test -race -coverprofile=coverage.out -covermode=atomic ./... || true

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: widmogrod/mkunion